<h1>Objednávka - {{detail.order.name}}</h1>
<span class="lead">{{detail.order.email}}</span>
<h2>Adresa</h2>
<p class="lead">
  {{detail.order.name}}, {{detail.order.address.street}}<br />
  {{detail.order.address.zip}} {{detail.order.address.city}}
</p>
<!-- TODO 4 oživte na detailu odkaz zpět na seznam -->
<a class="back" ng-href="#">Zpět na seznam</a>