<div class="modal-header">
  <h3 class="modal-title">Login window</h3>
</div>
<div class="modal-body">
  <p class="error">
    {{auth.message}}
  </p>
  <p>
    <button class="btn btn-info" ng-click="auth.loginUser()">loginUser</button>
    <button class="btn btn-info" ng-click="auth.loginAdmin()">loginAdmin</button>
    <button class="btn btn-warning" ng-click="auth.loginFail()">loginFail</button>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="auth.cancel()">Cancel</button>
</div>
